{{#if success_msg}}
<div class="alert alert-info" role="alert" style="width:300px;margin:0 auto;">
  {{ success_msg }}
</div>
{{/if}}
{{#if error_msg}}
<div class="alert alert-danger" role="alert" style="width:300px;margin-top:10px;">
  {{ error_msg }}
</div>
{{/if}}
