<h3>使用者登入</h3>
{{> message}}
<form action="/login" method="POST">
  <div>
    <input type="text" name="email" id="email">
    <label for="email">Email</label>
  </div>
  <div style="margin-top: 5px;">
    <input type="password" name="password" id="password">
    <label for="password">密碼</label>
  </div>
  <div style="margin-top: 5px;">
    <button class="btn btn-primary">登入</button>
  </div>
  <div style="margin-top: 5px;font-size: 14px;">
    沒有帳號？<a href="/register">立即註冊</a>
  </div>
</form>