<h3>歡迎註冊</h3>
<form>
  <div>
    <input type="text" name="name" id="name">
    <label for="name">名稱</label>
  </div>
  <div style="margin-top: 5px;">
    <input type="text" name="email" id="email">
    <label for="email">Email (此欄必填)</label>
  </div>
  <div style="margin-top: 5px;">
    <input type="password" name="password" id="password">
    <label for="password">密碼 (此欄必填)</label>
  </div>
  <div style="margin-top: 5px;">
    <input type="password" name="password-confirm" id="password-confirm">
    <label for="password-comfirm">確認密碼 (此欄必填)</label>
  </div>
  <div style="margin-top: 5px;">
    <button class="btn btn-primary">註冊</button>
  </div>
  <div style="margin-top: 5px;font-size: 14px;">
    已經有帳號？<a href="/login">立即登入</a>
  </div>
</form>